{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/material-kit.min.css' %}" />
  </head>
  <body>
    <div class="form-group bmd-form-group">
      <label for="exampleInput1" class="bmd-label-floating"
        >With Floating Label</label
      >
      <input type="email" class="form-control" id="exampleInput1" />
      <span class="bmd-help"
        >We'll never share your email with anyone else.</span
      >
    </div>
  </body>
</html>
