{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Product -->
<div class="bg0 m-t-23 p-b-140">
  <div class="container">
    <div class="flex-w flex-sb-m p-b-52">
      <div class="flex-w flex-l-m filter-tope-group m-tb-10">
        <button
          class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1"
          data-filter="*"
        >
          All Products
        </button>

        {% for category in categories %}
        <button
          class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"
          data-filter=".{{category.category}}"
        >
          {{ category.category }}
        </button>
        {% endfor %}
      </div>

      <div class="flex-w flex-c-m m-tb-10">
        <div
          class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter"
        >
          <i
            class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"
          ></i>
          <i
            class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"
          ></i>
          Filter
        </div>

        <div
          class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search"
        >
          <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
          <i
            class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"
          ></i>
          Search
        </div>
      </div>

      <!-- Search product -->
      <div class="dis-none panel-search w-full p-t-10 p-b-15">
        <div class="bor8 dis-flex p-l-15">
          <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
            <i class="zmdi zmdi-search"></i>
          </button>

          <input
            class="mtext-107 cl2 size-114 plh2 p-r-15"
            type="text"
            name="search-product"
            placeholder="Search"
          />
        </div>
      </div>

      <!-- Filter -->
      <div class="dis-none panel-filter w-full p-t-10">
        <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
          <div class="filter-col1 p-r-15 p-b-27">
            <div class="mtext-102 cl2 p-b-15">
              Sort By
            </div>

            <ul>
              <li class="p-b-6">
                <a href="#" class="filter-link stext-106 trans-04">
                  Default
                </a>
              </li>

              <li class="p-b-6">
                <a href="#" class="filter-link stext-106 trans-04">
                  Popularity
                </a>
              </li>

              <li class="p-b-6">
                <a href="#" class="filter-link stext-106 trans-04">
                  Average rating
                </a>
              </li>

              <li class="p-b-6">
                <a
                  href="#"
                  class="filter-link stext-106 trans-04 filter-link-active"
                >
                  Newness
                </a>
              </li>

              <li class="p-b-6">
                <a href="#" class="filter-link stext-106 trans-04">
                  Price: Low to High
                </a>
              </li>

              <li class="p-b-6">
                <a href="#" class="filter-link stext-106 trans-04">
                  Price: High to Low
                </a>
              </li>
            </ul>
          </div>

          <div class="filter-col2 p-r-15 p-b-27">
            <div class="mtext-102 cl2 p-b-15">
              Price
            </div>

            <ul>
              <li class="p-b-6">
                <a
                  href="#"
                  class="filter-link stext-106 trans-04 filter-link-active"
                >
                  All
                </a>
              </li>

              <li class="p-b-6">
                <a href="#" class="filter-link stext-106 trans-04">
                  $0.00 - $50.00
                </a>
              </li>

              <li class="p-b-6">
                <a href="#" class="filter-link stext-106 trans-04">
                  $50.00 - $100.00
                </a>
              </li>

              <li class="p-b-6">
                <a href="#" class="filter-link stext-106 trans-04">
                  $100.00 - $150.00
                </a>
              </li>

              <li class="p-b-6">
                <a href="#" class="filter-link stext-106 trans-04">
                  $150.00 - $200.00
                </a>
              </li>

              <li class="p-b-6">
                <a href="#" class="filter-link stext-106 trans-04">
                  $200.00+
                </a>
              </li>
            </ul>
          </div>

          <div class="filter-col3 p-r-15 p-b-27">
            <div class="mtext-102 cl2 p-b-15">
              Color
            </div>

            <ul>
              <li class="p-b-6">
                <span class="fs-15 lh-12 m-r-6" style="color: #222;">
                  <i class="zmdi zmdi-circle"></i>
                </span>

                <a href="#" class="filter-link stext-106 trans-04">
                  Black
                </a>
              </li>

              <li class="p-b-6">
                <span class="fs-15 lh-12 m-r-6" style="color: #4272d7;">
                  <i class="zmdi zmdi-circle"></i>
                </span>

                <a
                  href="#"
                  class="filter-link stext-106 trans-04 filter-link-active"
                >
                  Blue
                </a>
              </li>

              <li class="p-b-6">
                <span class="fs-15 lh-12 m-r-6" style="color: #b3b3b3;">
                  <i class="zmdi zmdi-circle"></i>
                </span>

                <a href="#" class="filter-link stext-106 trans-04">
                  Grey
                </a>
              </li>

              <li class="p-b-6">
                <span class="fs-15 lh-12 m-r-6" style="color: #00ad5f;">
                  <i class="zmdi zmdi-circle"></i>
                </span>

                <a href="#" class="filter-link stext-106 trans-04">
                  Green
                </a>
              </li>

              <li class="p-b-6">
                <span class="fs-15 lh-12 m-r-6" style="color: #fa4251;">
                  <i class="zmdi zmdi-circle"></i>
                </span>

                <a href="#" class="filter-link stext-106 trans-04">
                  Red
                </a>
              </li>

              <li class="p-b-6">
                <span class="fs-15 lh-12 m-r-6" style="color: #aaa;">
                  <i class="zmdi zmdi-circle-o"></i>
                </span>

                <a href="#" class="filter-link stext-106 trans-04">
                  White
                </a>
              </li>
            </ul>
          </div>

          <div class="filter-col4 p-b-27">
            <div class="mtext-102 cl2 p-b-15">
              Tags
            </div>

            <div class="flex-w p-t-4 m-r--5">
              <a
                href="#"
                class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
              >
                Fashion
              </a>

              <a
                href="#"
                class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
              >
                Lifestyle
              </a>

              <a
                href="#"
                class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
              >
                Denim
              </a>

              <a
                href="#"
                class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
              >
                Streetstyle
              </a>

              <a
                href="#"
                class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5"
              >
                Crafts
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h1>Ongoing Auctions</h1>
    <br />
    <div class="row isotope-grid">
      {% for item in items %}
      <div
        class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{item.category.category}}"
      >
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <div
              data-caption="Women’s Wear"
              style="background-image: url('{{item.item_images.first.image.url}}'); height:300px; width: 100%; background-size:cover"
            >
              &nbsp;
            </div>

            <a
              href="#"
              class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1"
            >
              Quick View
            </a>
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l">
              <a
                href="product-detail.html"
                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
              >
                {{ item.item_name }} {% if item.auction_status == "live" %}
                <div class="live-badge">LIVE</div>
                <div class="counter" id="{{item.id}}">hi</div>
                {% endif %}
              </a>
              <span class="stext-105 cl3">
                ${{item.current_price}}
              </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
              <a
                href="#"
                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
              >
                <img
                  class="icon-heart1 dis-block trans-04"
                  src="{% static 'images/icons/icon-heart-01.png' %}"
                  alt="ICON"
                />
                <img
                  class="icon-heart2 dis-block trans-04 ab-t-l"
                  src="{% static 'images/icons/icon-heart-02.png' %}"
                  alt="ICON"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <h1>Ongoing Auctions</h1>
    <br />
    <div class="row isotope-grid">
      {% for item in items %}
      <div
        class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item {{item.category.category}}"
      >
        <!-- Block2 -->
        <div class="block2">
          <div class="block2-pic hov-img0">
            <div
              data-caption="Women’s Wear"
              style="background-image: url('{{item.item_images.first.image.url}}'); height:300px; width: 100%; background-size:cover"
            >
              &nbsp;
            </div>
          </div>

          <div class="block2-txt flex-w flex-t p-t-14">
            <div class="block2-txt-child1 flex-col-l">
              <a
                href="product-detail.html"
                class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6"
              >
                {{ item.item_name }} {% if item.auction_status == "live" %}
                <div class="live-badge">LIVE</div>
                {% endif %}
              </a>
              <span class="stext-105 cl3">
                ${{item.current_price}}
              </span>
            </div>

            <div class="block2-txt-child2 flex-r p-t-3">
              <a
                href="#"
                class="btn-addwish-b2 dis-block pos-relative js-addwish-b2"
              >
                <img
                  class="icon-heart1 dis-block trans-04"
                  src="{% static 'images/icons/icon-heart-01.png' %}"
                  alt="ICON"
                />
                <img
                  class="icon-heart2 dis-block trans-04 ab-t-l"
                  src="{% static 'images/icons/icon-heart-02.png' %}"
                  alt="ICON"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- Footer -->
  <footer class="bg3 p-t-75 p-b-32">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-3 p-b-50">
          <h4 class="stext-301 cl0 p-b-30">
            Categories
          </h4>

          <ul>
            <li class="p-b-10">
              <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                Women
              </a>
            </li>

            <li class="p-b-10">
              <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                Men
              </a>
            </li>

            <li class="p-b-10">
              <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                Shoes
              </a>
            </li>

            <li class="p-b-10">
              <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                Watches
              </a>
            </li>
          </ul>
        </div>

        <div class="col-sm-6 col-lg-3 p-b-50">
          <h4 class="stext-301 cl0 p-b-30">
            Help
          </h4>

          <ul>
            <li class="p-b-10">
              <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                Track Order
              </a>
            </li>

            <li class="p-b-10">
              <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                Returns
              </a>
            </li>

            <li class="p-b-10">
              <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                Shipping
              </a>
            </li>

            <li class="p-b-10">
              <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                FAQs
              </a>
            </li>
          </ul>
        </div>

        <div class="col-sm-6 col-lg-3 p-b-50">
          <h4 class="stext-301 cl0 p-b-30">
            GET IN TOUCH
          </h4>

          <p class="stext-107 cl7 size-201">
            Any questions? Let us know in store at 8th floor, 379 Hudson St, New
            York, NY 10018 or call us on (+1) 96 716 6879
          </p>

          <div class="p-t-27">
            <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
              <i class="fa fa-facebook"></i>
            </a>

            <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
              <i class="fa fa-instagram"></i>
            </a>

            <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
              <i class="fa fa-pinterest-p"></i>
            </a>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3 p-b-50">
          <h4 class="stext-301 cl0 p-b-30">
            Newsletter
          </h4>

          <form>
            <div class="wrap-input1 w-full p-b-4">
              <input
                class="input1 bg-none plh1 stext-107 cl7"
                type="text"
                name="email"
                placeholder="email@example.com"
              />
              <div class="focus-input1 trans-04"></div>
            </div>

            <div class="p-t-18">
              <button
                class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04"
              >
                Subscribe
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class="p-t-40">
        <div class="flex-c-m flex-w p-b-18">
          <a href="#" class="m-all-1">
            <img
              src="{% static 'images/icons/icon-pay-01.png' %}"
              alt="ICON-PAY"
            />
          </a>

          <a href="#" class="m-all-1">
            <img
              src="{% static 'images/icons/icon-pay-02.png' %}"
              alt="ICON-PAY"
            />
          </a>

          <a href="#" class="m-all-1">
            <img
              src="{% static 'images/icons/icon-pay-03.png' %}"
              alt="ICON-PAY"
            />
          </a>

          <a href="#" class="m-all-1">
            <img
              src="{% static 'images/icons/icon-pay-04.png' %}"
              alt="ICON-PAY"
            />
          </a>

          <a href="#" class="m-all-1">
            <img
              src="{% static 'images/icons/icon-pay-05.png' %}"
              alt="ICON-PAY"
            />
          </a>
        </div>

        <p class="stext-107 cl6 txt-center">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;
          <script>
            document.write(new Date().getFullYear());
          </script>
          All rights reserved | This template is made with
          <i class="fa fa-heart-o" aria-hidden="true"></i> by
          <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </p>
      </div>
    </div>
  </footer>

  <!-- Back to top -->
  <div class="btn-back-to-top" id="myBtn">
    <span class="symbol-btn-back-to-top">
      <i class="zmdi zmdi-chevron-up"></i>
    </span>
  </div>

  {% endblock content %} {% block script %}
  <!--===============================================================================================-->
  <script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'vendor/animsition/js/animsition.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'vendor/select2/select2.min.js' %}"></script>
  <script>
    $(".js-select2").each(function () {
      $(this).select2({
        minimumResultsForSearch: 20,
        dropdownParent: $(this).next(".dropDownSelect2"),
      });
    });
  </script>
  <!--===============================================================================================-->
  <script src="{% static 'vendor/daterangepicker/moment.min.js' %}"></script>
  <script src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'vendor/slick/slick.min.js' %}"></script>
  <script src="{% static 'js/slick-custom.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'vendor/parallax100/parallax100.js' %}"></script>
  <script>
    $(".parallax100").parallax100();
  </script>
  <!--===============================================================================================-->
  <script src="{% static 'vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
  <script>
    $(".gallery-lb").each(function () {
      // the containers for all your galleries
      $(this).magnificPopup({
        delegate: "a", // the selector for gallery item
        type: "image",
        gallery: {
          enabled: true,
        },
        mainClass: "mfp-fade",
      });
    });
  </script>
  <!--===============================================================================================-->
  <script src="{% static 'vendor/isotope/isotope.pkgd.min.js' %}"></script>
  <!--===============================================================================================-->
  <script src="{% static 'vendor/sweetalert/sweetalert.min.js' %}"></script>
  <script>
    $(".js-addwish-b2, .js-addwish-detail").on("click", function (e) {
      e.preventDefault();
    });

    $(".js-addwish-b2").each(function () {
      var nameProduct = $(this).parent().parent().find(".js-name-b2").html();
      $(this).on("click", function () {
        swal(nameProduct, "is added to wishlist !", "success");

        $(this).addClass("js-addedwish-b2");
        $(this).off("click");
      });
    });

    $(".js-addwish-detail").each(function () {
      var nameProduct = $(this)
        .parent()
        .parent()
        .parent()
        .find(".js-name-detail")
        .html();

      $(this).on("click", function () {
        swal(nameProduct, "is added to wishlist !", "success");

        $(this).addClass("js-addedwish-detail");
        $(this).off("click");
      });
    });

    /*---------------------------------------------*/

    $(".js-addcart-detail").each(function () {
      var nameProduct = $(this)
        .parent()
        .parent()
        .parent()
        .parent()
        .find(".js-name-detail")
        .html();
      $(this).on("click", function () {
        swal(nameProduct, "is added to cart !", "success");
      });
    });
  </script>
  <!--===============================================================================================-->
  <script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
  <script>
      $(".js-pscroll").each(function () {
        $(this).css("position", "relative");
        $(this).css("overflow", "hidden");
        var ps = new PerfectScrollbar(this, {
          wheelSpeed: 1,
          scrollingThreshold: 1000,
          wheelPropagation: false,
        });

        $(window).on("resize", function () {
          ps.update();
        });
      });

    {% for item in items %}
    {% if item.auction_status == "live" %}
      $("#{{item.id}}").text("hello");
      console.log("hello");
    var counter = document.getElementsByClassName("counter");
    for (var i = 0; i < counter.length; i++) {
        counter.textCounter = counter.id
    }

    var deadline = "{{ item.cap_time|date:'M j, Y G:i:s' }}";
    console.log(deadline);

    // Set the date we're counting down to
    var countDownDate = new Date(deadline).getTime();

    // Update the count down every 1 second
    var x = setInterval(function() {
      // Get today's date and time
      var now = new Date().getTime();

      // Find the distance between now and the count down date
      var distance = countDownDate - now;

      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor(
        (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)
      );
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);

      // Display the result in the element with id="demo"
      document.getElementById("{{ item.id }}").innerHTML =
        days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
    });
    {% endif %}
    {% endfor %}
  </script>
  <script src="{% static 'js/main.js' %}"></script>

  {% endblock script %}
</div>
